<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.rscamper.BenefitMapper">

<resultMap id="benefitMap" type="BenefitVO">
    <result column="benefit_no" property="benefitNo" />
    <result column="title" property="title" />
    <result column="url" property="url" />
    <result column="location" property="location" />
    <result column="image_url" property="imageUrl" />
    <result column="price_original" property="priceOrignal" />
    <result column="price_discount" property="priceDiscount" />
    <result column="info" property="info" />
    <result column="space_text" property="sapceText" />
    <result column="space" property="space" />
    <result column="discount" property="discount" />
    <result column="content" property="content" />
</resultMap>



<select id="listPage" parameterType="PageVO" resultMap="benefitMap">
<![CDATA[
SELECT *
	FROM BENEFIT_TB                     
	WHERE BENEFIT_NO > 0
	ORDER BY BENEFIT_NO DESC
	LIMIT #{pageStart}, #{perPageNum}
]]>
</select>

<select id="totalCount" resultType='int'>
	SELECT COUNT(*) FROM
	BENEFIT_TB
</select>

<select id = "selectByNo" resultMap = "benefitMap" parameterType="int">
	SELECT CONTENT
	FROM BENEFIT_DETAIL_TB
	WHERE BENEFIT_NO = #{no}
</select>

<!-- 메인 -->
<select id="selectBenefit" resultMap="benefitMap" parameterType="string">
	SELECT *
	FROM BENEFIT_TB
	ORDER BY BENEFIT_NO DESC
</select>	

</mapper>
  
  
  